* text=auto !eol
/INSTALL.MUMPS -text
/README -text
/config.guess -text
/config.sub -text
/configure -text
/depcomp -text
/get.Mumps -text
/install-sh -text
/ltmain.sh -text
/missing -text
/mumps_addlibs.txt.in -text
